*, *::before, ::after {
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
}

.basicRegistrationSection {
    background-color: #32CD32;
    padding: 3rem;
    height: 90%;
}

.basicRegistrationForm {
    border-radius: 10px;
    background-color: white;
    width: 50%;
    padding: 3rem;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.successfullRegisterArticle {
    border-radius: 10px;
    background-color: white;
    width: 50%;
    padding: 3rem;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.successfullMessage {
    color: black;
    font-weight: 900;
    letter-spacing: 5px;
}

.btnRegisterContinue {
    padding: 1rem 2rem;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.btnRegisterContinue:hover {
    background-color: aliceblue;
}

.inputStructure {
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
    margin: 1rem auto;
}

.InvalidMessage {
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
    margin: 1rem auto;
    background-color: red;
    background-color: red;
    border-radius: 10px;
    font-size: 12px;
    padding: 1rem;
    list-style-type: none;
}

.InvalidMessage > li {
    text-align: center;
}

.inputText {
    background-color: #F0F0F0;
}

.inputText:focus {
    outline: 3px solid lightskyblue;
}

.invalidInput {
    outline: 3px solid red;
}

.inputSubmit {
    letter-spacing: 2px;
    background-color: #008200;
    color: white;
    cursor: pointer;
}

.inputSubmit:disabled {
    background-color: #F0F0F0;
    color: gray;
}
